<section class="section section_gradient section_padding_top section_padding_bottom">
    <div class="ctr">
        <h2 class="section__header">Наши направления</h2>
        <!-- /.section__header -->
        <div class="tabs__wrap js-tabs">
            <div class="tabs js-tabs-slider" role="tablist" aria-label="наши направления">
                <div class="tabs-inner swiper-wrapper">
                    <div class="swiper-slide" style="width: auto!important">
                        <button class="tab btn btn_common active" role="tab" aria-selected="true" aria-controls="directions-1-panel" id="directions-1">
                            <span>Речные круизы</span>
                        </button>
                        <button class="tab btn btn_common " role="tab" aria-controls="directions-2-panel" id="directions-2">
                            <span>Морские круизы</span>
                        </button>
                        <button class="tab btn btn_common " role="tab" aria-controls="directions-3-panel" id="directions-3">
                            <span>Аренда теплоходов</span>
                        </button>
                        <button class="tab btn btn_common " role="tab" aria-controls="directions-4-panel" id="directions-4">
                            <span>Туры</span>
                        </button>
                    </div>
                    <!-- /.swiper-slide -->
                </div>
                <!-- /.tabs-inner -->
            </div>
            <div class="tab-panes">
                <div class="tab-pane active" tabindex="0" role="tabpanel" id="directions-1-panel" aria-labelledby="directions-1">
                    <div class="tabs-pane__content">
                        <ul class="directions">
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/2.webp" type="image/webp">
                              <img src="/assets/img/main/3/2.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Москву от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/3.webp" type="image/webp">
                              <img src="/assets/img/main/3/3.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Санкт-Петербург от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/4.webp" type="image/webp">
                              <img src="/assets/img/main/3/4.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Астрахань от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/1.webp" type="image/webp">
                              <img src="/assets/img/main/3/1.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">На Соловки от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                        </ul>
                        <!-- /.directions -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
                <div class="tab-pane " tabindex="0" role="tabpanel" id="directions-2-panel" aria-labelledby="directions-2">
                    <div class="tabs-pane__content">
                        <ul class="directions">
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/2.webp" type="image/webp">
                              <img src="/assets/img/main/3/2.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Москву от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/3.webp" type="image/webp">
                              <img src="/assets/img/main/3/3.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Санкт-Петербург от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/4.webp" type="image/webp">
                              <img src="/assets/img/main/3/4.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Астрахань от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/1.webp" type="image/webp">
                              <img src="/assets/img/main/3/1.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">На Соловки от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                        </ul>
                        <!-- /.directions -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
                <div class="tab-pane " tabindex="0" role="tabpanel" id="directions-3-panel" aria-labelledby="directions-3">
                    <div class="tabs-pane__content">
                        <ul class="directions">
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/2.webp" type="image/webp">
                              <img src="/assets/img/main/3/2.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Москву от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/3.webp" type="image/webp">
                              <img src="/assets/img/main/3/3.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Санкт-Петербург от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/4.webp" type="image/webp">
                              <img src="/assets/img/main/3/4.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Астрахань от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/1.webp" type="image/webp">
                              <img src="/assets/img/main/3/1.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">На Соловки от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                        </ul>
                        <!-- /.directions -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
                <div class="tab-pane " tabindex="0" role="tabpanel" id="directions-4-panel" aria-labelledby="directions-4">
                    <div class="tabs-pane__content">
                        <ul class="directions">
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/2.webp" type="image/webp">
                              <img src="/assets/img/main/3/2.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Москву от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/3.webp" type="image/webp">
                              <img src="/assets/img/main/3/3.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Санкт-Петербург от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/4.webp" type="image/webp">
                              <img src="/assets/img/main/3/4.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">В Астрахань от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                            <li class="directions__item">
                                <a href="/" class="directions-item">
                          <span class="directions-item__img">
                            <picture>
                              <source srcset="/assets/img/main/3/1.webp" type="image/webp">
                              <img src="/assets/img/main/3/1.jpg" alt="title">
                            </picture>
                          </span>
                                    <!-- /.directions-item__img -->
                                    <span class="directions-item__title">На Соловки от 27 500 ₽</span>
                                    <!-- /.directions-item-title -->
                                </a>
                                <!-- /.directions-item -->
                            </li>
                            <!-- /.directions__item -->
                        </ul>
                        <!-- /.directions -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
            </div>
            <!-- /.tab-panes -->
        </div>
    </div>
    <!-- /.ctr -->
</section>
<!-- /.section section_grey_2 section_margin_top section_margin_bottom -->