<div class="main-categories">
    <div class="ctr">
        <ul class="main-categories__list">
            <li class="main-categories__item">
                <a href="/" class="btn btn_filter"><span>Речные круизы</span></a>
                <!-- /.btn btn_filter -->
            </li>
            <!-- /.main-categories__item -->
            <li class="main-categories__item">
                <a href="/" class="btn btn_filter"><span>Морские круизы</span></a>
                <!-- /.btn btn_filter -->
            </li>
            <!-- /.main-categories__item -->
            <li class="main-categories__item">
                <a href="/" class="btn btn_filter"><span>Аренда теплоходов</span></a>
                <!-- /.btn btn_filter -->
            </li>
            <!-- /.main-categories__item -->
            <li class="main-categories__item">
                <a href="/" class="btn btn_filter"><span>Туры</span></a>
                <!-- /.btn btn_filter -->
            </li>
            <!-- /.main-categories__item -->
        </ul>
        <!-- /.main-categories__list -->
    </div>
    <!-- /.ctr -->
</div>
<!-- /.main-categories -->