
        <div class="tabs__wrap js-tabs">
            <div class="tabs js-tabs-slider" role="tablist" aria-label="круизные теплоходы">
                <div class="tabs-inner swiper-wrapper">
                    <div class="swiper-slide" style="width: auto!important">
                        <button class="tab btn btn_common active" role="tab" aria-selected="true" aria-controls="ships-1-panel" id="ships-1">
                            <span>Теплоходы Мостурфлота</span>
                        </button>
                        <button class="tab btn btn_common " role="tab" aria-controls="ships-2-panel" id="ships-2">
                            <span>Прогулочные теплоходы</span>
                        </button>
                        <button class="tab btn btn_common " role="tab" aria-controls="ships-3-panel" id="ships-3">
                            <span>Теплоходы партнеров</span>
                        </button>
                    </div>
                    <!-- /.swiper-slide -->
                </div>
                <!-- /.tabs-inner -->
            </div>
            <div class="tab-panes">
                <div class="tab-pane active" tabindex="0" role="tabpanel" id="ships-1-panel" aria-labelledby="ships-1">
                    <div class="tabs-pane__content">
                        <h2 class="section__header">Теплоходы Мостурфлота</h2>
                        <ul id="river_cruise_ships" class="ships">

                            <li class="ships__item">
                                <a href="/riverships/grin" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/207.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/207.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Александр Грин</span>
                                    <span class="ships-item__text">Класс: ЛЮКС</span>
                                </a>
                            </li>



                            <li class="ships__item">
                                <a href="/riverships/victoria" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/206.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/206.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Княжна ВИКТОРИЯ</span>
                                    <span class="ships-item__text">Класс: ЛЮКС</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/bulgakov" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/198.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/198.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Михаил Булгаков</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/esenin" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/150.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/150.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Сергей ЕСЕНИН</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/karamzin" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/92.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/92.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Николай КАРАМЗИН</span>
                                    <span class="ships-item__text">Класс: Комфорт +</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/krylov" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/139.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/139.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">И.А. КРЫЛОВ</span>
                                    <span class="ships-item__text">Класс: Винтаж</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/obraztsov" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/5.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/5.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">СЕРГЕЙ ОБРАЗЦОВ</span>
                                    <span class="ships-item__text">Класс: Винтаж</span>
                                </a>
                            </li>


                            <li class="ships__item">
                                <a href="/riverships/rublev" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/200.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/200.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Андрей РУБЛЕВ</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/pushkin" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/91.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/91.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">А.С.Пушкин</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/surikov" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/14.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/14.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Василий СУРИКОВ</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/repin" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/36.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/36.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Илья РЕПИН</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/anastasia" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/72.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/72.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Княжна  АНАСТАСИЯ</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/krasin" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/19.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/19.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Леонид КРАСИН</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="/riverships/rossia" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/247.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/247.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">РОССИЯ</span>
                                    <span class="ships-item__text">Класс: ПРЕМИУМ</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.ships -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
                <div class="tab-pane " tabindex="0" role="tabpanel" id="ships-2-panel" aria-labelledby="ships-2">
                    <div class="tabs-pane__content">
                        <ul class="ships">
                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/212" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/soyuz.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/soyuz.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Союз</span>
                                    <span class="ships-item__text">Вместимость: 55/100 чел.</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/219" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/yury.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/yury.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Князь Юрий</span>
                                    <span class="ships-item__text">Вместимость: 50/100 чел.</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/213" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/mir.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/mir.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Мир</span>
                                    <span class="ships-item__text">Вместимость: 12 чел.</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/250" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/kolesov.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/kolesov.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Колёсовъ</span>
                                    <span class="ships-item__text">Вместимость: 120/250 чел.</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/245" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/petrovich.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/petrovich.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Петрович</span>
                                    <span class="ships-item__text">Вместимость: 50/80 чел.</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/240" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/port-artur.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/port-artur.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Порт-Артур</span>
                                    <span class="ships-item__text">Вместимость: 150/250 чел.</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/253" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/trotter.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/trotter.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Троттер</span>
                                    <span class="ships-item__text">Вместимость: 50/100 чел.</span>
                                </a>
                            </li>

                            <li class="ships__item">
                                <a href="https://booking.mosturflot.ru/banquetfleet/ships/241" class="ships-item">
                            <span class="ships-item__img">
                            <picture>
                            <source srcset="/assets/img/mtf/ships/small/karenina.webp" type="image/webp">
                            <img src="/assets/img/mtf/ships/small/karenina.jpg" alt="">
                            </picture>
                            </span>
                                    <span class="ships-item__title">Аренда т/х Анна Каренина</span>
                                    <span class="ships-item__text">Вместимость: 100/180 чел.</span>
                                </a>
                            </li>
                        </ul>
                        <!-- /.ships -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
                <div class="tab-pane " tabindex="0" role="tabpanel" id="ships-3-panel" aria-labelledby="ships-3">
                    <div class="tabs-pane__content">
                        <h2 class="section__header">Теплоходы партнеров</h2>
                        <ul id="river_partners_ships" class="ships">

                        </ul>
                        <!-- /.ships -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
            </div>
            <!-- /.tab-panes -->
        </div>
