<div class="section section_padding_top section_padding_bottom actions__wrap">
    <div class="ctr">
        <h2 class="section__header">Спецпредложения</h2>
        <!-- /.section__header -->
        <div class="tabs__wrap js-tabs">
            <div class="tabs js-tabs-slider tabs_specials swiper-container" role="tablist" aria-label="Спецпредложения">
                <div class="tabs-inner swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="tab btn btn_common active" role="tab" aria-selected="true" aria-controls="specials-1-panel" id="specials-1">
                            <span>Горячие туры</span>
                        </button>
                    </div>
                    <!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <button class="tab btn btn_common" role="tab" aria-selected="false" aria-controls="specials-2-panel" id="specials-2" tabindex="-1">
                            <span>Все скидки</span>
                        </button>
                    </div>
                    <!-- /.swiper-slide -->
                    <div class="swiper-slide">
                        <button class="tab btn btn_common" role="tab" aria-selected="false" aria-controls="specials-3-panel" id="specials-3" tabindex="-1" data-deletable="">
                            <span>Пенсионные скидки</span>
                        </button>
                    </div>
                    <!-- /.swiper-slide -->
                </div>
                <!-- /.tabs-inner -->
            </div>
            <div class="tab-panes">
                <div class="tab-pane active" tabindex="0" role="tabpanel" id="specials-1-panel" aria-labelledby="specials-1">
                    <div class="tabs-pane__content">
                        <div class="slider js-slider swiper-container" data-per-view="4">
                            <ul id="featured-skidki" class="slider-list swiper-wrapper" aria-label="Список акций">

                            </ul>
                            <!-- /.slider-list -->
                            <div class="slider__controls js-slider-controls">
                                <button type="button" class="slider-btn slider-btn_prev js-slider-prev" aria-label="назад">
                                    <svg class="icon icon-arrow">
                                        <use xlink:href="assets/img/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                                <button type="button" class="slider-btn slider-btn_next js-slider-next" aria-label="вперед">
                                    <svg class="icon icon-arrow">
                                        <use xlink:href="assets/img/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                            <!-- /.slider__controls -->
                            <div class="specials__pagination slider-pagination swiper-pagination"></div>
                        </div>
                        <!-- /.slider -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
                <div class="tab-pane" tabindex="0" role="tabpanel" id="specials-2-panel" aria-labelledby="specials-2">
                    <div class="tabs-pane__content">
                        <div class="slider js-slider swiper-container" data-per-view="4">
                            <ul class="slider-list swiper-wrapper" aria-label="Список акций">
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/1.webp" type="image/webp">
                                <img src="assets/img/main/2/2.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Илья Репин</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/3.webp" type="image/webp">
                                <img src="assets/img/main/2/3.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Книжна Виктория</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/2.webp" type="image/webp">
                                <img src="assets/img/main/2/3.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Россия</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/4.webp" type="image/webp">
                                <img src="assets/img/main/2/2.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Сергей Есенин</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/3.webp" type="image/webp">
                                <img src="assets/img/main/2/4.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Илья Репин</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/1.webp" type="image/webp">
                                <img src="assets/img/main/2/4.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Книжна Виктория</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                            </ul>
                            <!-- /.slider-list -->
                            <div class="slider__controls js-slider-controls">
                                <button type="button" class="slider-btn slider-btn_prev js-slider-prev" aria-label="назад">
                                    <svg class="icon icon-arrow">
                                        <use xlink:href="assets/img/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                                <button type="button" class="slider-btn slider-btn_next js-slider-next" aria-label="вперед">
                                    <svg class="icon icon-arrow">
                                        <use xlink:href="assets/img/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                            <!-- /.slider__controls -->
                            <div class="specials__pagination slider-pagination swiper-pagination"></div>
                        </div>
                        <!-- /.slider -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
                <div class="tab-pane" tabindex="0" role="tabpanel" id="specials-3-panel" aria-labelledby="specials-3">
                    <div class="tabs-pane__content">
                        <div class="slider js-slider swiper-container" data-per-view="4">
                            <ul class="slider-list swiper-wrapper" aria-label="Список акций">
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/2.webp" type="image/webp">
                                <img src="assets/img/main/2/3.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Илья Репин</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/2.webp" type="image/webp">
                                <img src="assets/img/main/2/2.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Книжна Виктория</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/2.webp" type="image/webp">
                                <img src="assets/img/main/2/4.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Россия</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/1.webp" type="image/webp">
                                <img src="assets/img/main/2/3.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Сергей Есенин</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/4.webp" type="image/webp">
                                <img src="assets/img/main/2/1.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Илья Репин</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                                <li class="slider-list__item swiper-slide">
                                    <a href="/" class="specials-item">
                            <span class="specials-item__img">
                              <picture>
                                <source srcset="assets/img/main/2/1.webp" type="image/webp">
                                <img src="assets/img/main/2/2.jpg" alt="">
                              </picture>
                            </span>
                                        <!-- /.specials-item__img -->
                                        <span class="specials-item__date">06 Июня — 10 Июня</span>
                                        <!-- /.specials-item__date -->
                                        <span class="specials-item__title">Книжна Виктория</span>
                                        <!-- /.specials-item-title -->
                                        <span class="specials-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
                                        <!-- /.specials-item__text -->
                                        <span class="specials-item__prices">
                              <span>27 500 ₽</span>
                              <s>34 000 ₽</s>
                            </span>
                                        <!-- /.specials-item__prices -->
                                    </a>
                                    <!-- /.specials-item -->
                                </li>
                                <!-- /.actions__item -->
                            </ul>
                            <!-- /.slider-list -->
                            <div class="slider__controls js-slider-controls">
                                <button type="button" class="slider-btn slider-btn_prev js-slider-prev" aria-label="назад">
                                    <svg class="icon icon-arrow">
                                        <use xlink:href="assets/img/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                                <button type="button" class="slider-btn slider-btn_next js-slider-next" aria-label="вперед">
                                    <svg class="icon icon-arrow">
                                        <use xlink:href="assets/img/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                            <!-- /.slider__controls -->
                            <div class="specials__pagination slider-pagination swiper-pagination"></div>
                        </div>
                        <!-- /.slider -->
                    </div>
                    <!-- /.tabs-panel__content -->
                </div>
            </div>
            <!-- /.tab-panes -->
        </div>
    </div>
    <!-- /.ctr -->
</div>
<!-- /.actions -->