<footer class="l-footer footer">
    <div class="ctr">
        <div class="footer__inner">
            <div class="footer__row">
                <div class="footer__col">
                    <div class="footer-contacts">
                        <h2 class="footer-contacts__title footer__title">Контактные данные</h2>
                        <!-- /.footer-contacts__title -->
                        <div class="footer-contacts__item">
                            <h3>Москва</h3>
                            <p>+7 (495) 22-17-222</p>
                        </div>
                        <!-- /.footer-contacts__col -->
                        <div class="footer-contacts__item">
                            <h3>Санкт-Петербург</h3>
                            <p>+7 (812) 600-70-20</p>
                        </div>
                        <!-- /.footer-contacts__col -->
                    </div>
                    <!-- /.footer-contacts -->
                </div>
                <!-- /.footer__col -->
                <div class="footer__col">
                    <div class="footer-subscribe">
                        <h2 class="footer-subscribe__title footer__title">Оформите подписку</h2>
                        <!-- /.footer-subscribe__title -->
                        <div class="footer-subscribe__subtitle">Чтобы получать свежие новости о&nbsp;компании</div>
                        <!-- /.footer-subscribe__subtitle -->
                        <form class="footer-subscribe-form">
                            <input type="email" required placeholder="Ваш email" aria-label="Электронная почта">
                            <button class="footer-subscribe-form__btn"><a href="https://feedburner.google.com/fb/a/mailverify?uri=mosturflot/BBsA&amp;loc=ru_RU" style="color:#FFFFFF;text-decoration:none" >Отправить </a></button>
                            <!-- /.footer-subscribe-form__btn -->
                        </form>
                        <!-- /.footer-subscribe-form -->
                    </div>
                    <!-- /.footer-subscribe -->
                </div>
                <!-- /.footer__col -->
            </div>
            <!-- /.footer__row -->
            <div class="footer__row">
                <div class="footer__col">
                    <div class="footer-socials">
                        <div class=" socials">
                            <a href="/" class="socials__item vk" title="мы в социальных сетях">
                                <svg class="icon icon-vk">
                                    <use xlink:href="/assets/img/sprite.svg#icon-vk"></use>
                                </svg>
                            </a>
                            <!-- /.socials__item vk -->
                            <a href="/" class="socials__item ig" title="мы в социальных сетях">
                                <svg class="icon icon-instagram">
                                    <use xlink:href="/assets/img/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                            <!-- /.socials__item ig -->
                            <a href="/" class="socials__item fb" title="мы в социальных сетях">
                                <svg class="icon icon-facebook">
                                    <use xlink:href="/assets/img/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                            <!-- /.socials__item fb -->
                            <a href="/" class="socials__item ok" title="мы в социальных сетях">
                                <svg class="icon icon-odnoklassniki">
                                    <use xlink:href="/assets/img/sprite.svg#icon-odnoklassniki"></use>
                                </svg>
                            </a>
                            <!-- /.socials__item ok -->
                            <a href="/" class="socials__item ttr" title="мы в социальных сетях">
                                <svg class="icon icon-twitter">
                                    <use xlink:href="/assets/img/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                            <!-- /.socials__item ttr -->
                            <a href="/" class="socials__item tg" title="мы в социальных сетях">
                                <svg class="icon icon-telegram">
                                    <use xlink:href="/assets/img/sprite.svg#icon-telegram"></use>
                                </svg>
                            </a>
                            <!-- /.socials__item tg -->
                            <a href="/" class="socials__item rss" title="мы в социальных сетях">
                                <svg class="icon icon-rss">
                                    <use xlink:href="/assets/img/sprite.svg#icon-rss"></use>
                                </svg>
                            </a>
                            <!-- /.socials__item rss -->
                        </div>
                        <!-- /.socials -->
                    </div>
                    <!-- /.footer-socials -->
                </div>
                <!-- /.footer__col -->
                <div class="footer__col">
                    <a href="/" class="footer-terms">Пользовательское соглашение</a>
                    <!-- /.footer-terms -->
                </div>
                <!-- /.footer__col -->
            </div>
            <!-- /.footer__row -->
            <div class="footer__row">
                <div class="footer__col">© 2018 Мостурфлот</div>
                <!-- /.footer__col -->

            </div>
            <!-- /.footer__row -->
        </div>
        <!-- /.footer__inner -->
    </div>
    <!-- /.ctr -->
</footer>
<!-- /.footer -->
<a href="#" class="cd-top js-cd-top"></a>
{% include modals/modals.html %}
