
<div class="section__header-wrap">
    <h1 class="section__header">Морские круизы</h1>
    <!-- /.section__header -->
    <div class="section__header-payload" style="z-index: 10;">
        <div class="filter-results-count">Найдено круизов <span></span></div>
        <!-- /.filter-results-count -->
        <div class="sea-filter">
            <label for="sea-filter">Сортировать</label>
            <select name="seafilter" id="sea-filter">
                <option value="1" selected>По ближайшей дате</option>
                <option value="2">В обратном порядке</option>
                <option value="3" selected>От минимальной цены</option>
                <option value="4">От максимальной цены</option>

            </select>
        </div>
        <!-- /.select -->
    </div>
    <!-- /.section__header-payload -->
</div><div class="section-filter-controls">
    <form class="section-filter-controls__content">
        <fieldset class="book-block">
            <legend id="legend_631">Сортировать</legend>
            <div class="book-select">
                <select name="select_631" id="booking_631" aria-labelledby="legend_631">
                    <option value="">По возрастанию цены</option>
                    <option value="">По убыванию цены</option>
                </select>
            </div>
            <!-- /.select -->
        </fieldset>
        <!-- /.book-block -->
    </form>
    <!-- /.section-filter-controls__content -->
    <button class="filter-toggle" data-tgl=".body" data-tgl-class="show-filter" aria-label="Фильтр">
        <svg class="icon icon-filter">
            <use xlink:href="/assets/img/sprite.svg#icon-filter"></use>
        </svg>
    </button>
    <!-- /.filter-toggle -->
</div>
<!-- /.section-filter-controls -->

