
<div class="section__header-wrap">
<h1 class="section__header">Речные круизы</h1>
<!-- /.section__header -->
<div class="section__header-payload" style="z-index: 10;">
    <div class="filter-results-count">Найдено круизов <span></span></div>
    <!-- /.filter-results-count -->
    <div class="header-filter">
        <select name="filter" id="header-filter" autocomplete="off" data-width="100%" data-minimum-results-for-search="0">
            <option value="1" data-select2-icon="down" selected>По дате отправления</option>
            <option value="2" data-select2-icon="up">По дате отправления</option>
            <option value="3" data-select2-icon="up">По цене</option>
            <option value="4" data-select2-icon="down">По цене</option>
            <option value="5" data-select2-icon="up">По размеру скидки</option>
            <option value="6" data-select2-icon="down">По размеру скидки</option>
            <option value="7" data-select2-icon="up">По длительности</option>
            <option value="8" data-select2-icon="down">По длительности</option>
        </select>
    </div>
    <!-- /.select -->
</div>
<!-- /.section__header-payload -->
</div><div class="section-filter-controls">
    <form class="section-filter-controls__content">
        <fieldset class="book-block">
            <legend id="legend_631">Сортировать</legend>
            <div class="book-select">
                <select name="select_631" id="booking_631" aria-labelledby="legend_631">
                    <option value="">По возрастанию цены</option>
                    <option value="">По убыванию цены</option>
                </select>
            </div>
            <!-- /.select -->
        </fieldset>
        <!-- /.book-block -->
    </form>
    <!-- /.section-filter-controls__content -->
    <button class="filter-toggle" data-tgl=".body" data-tgl-class="show-filter" aria-label="Фильтр">
        <svg class="icon icon-filter">
            <use xlink:href="/assets/img/sprite.svg#icon-filter"></use>
        </svg>
    </button>
    <!-- /.filter-toggle -->
</div>
<!-- /.section-filter-controls -->
