<section class="section information section_gradient section_padding_top section_padding_bottom">
    <div class="ctr">
        <h2 class="section__header">Полезная информация</h2>
        <!-- /.section__header -->
        <p class="section__lead information__lead">Квалифицированные сотрудники компании &laquo;Мостурфлот&raquo; всегда готовы помочь вам в&nbsp;подборе круиза.</p>
        <!-- /.section__header -->
        <div class="slider js-slider swiper-container" data-per-view="4">
            <ul class="slider-list swiper-wrapper" aria-label="Список акций">
                <li class="slider-list__item swiper-slide">
                    <a href="/" class="information-item">
                    <span class="information-item__img">
                      <picture>
                        <source srcset="/assets/img/main/4/1.webp" type="image/webp">
                        <img src="/assets/img/main/4/1.jpg" alt="">
                      </picture>
                    </span>
                        <!-- /.information-item__img -->
                        <span class="information-item__title">Как заказать круиз?</span>
                        <!-- /.information-item-title -->
                        <span class="information-item__text">В связи с весенними праздниками, большинство которых отмечается в мае, появляется несколько</span>
                        <!-- /.information-item__text -->
                    </a>
                    <!-- /.information-item -->
                </li>
                <!-- /.actions__item -->
                <li class="slider-list__item swiper-slide">
                    <a href="/" class="information-item">
                    <span class="information-item__img">
                      <picture>
                        <source srcset="/assets/img/main/4/2.webp" type="image/webp">
                        <img src="/assets/img/main/4/2.jpg" alt="">
                      </picture>
                    </span>
                        <!-- /.information-item__img -->
                        <span class="information-item__title">Что брать с собой?</span>
                        <!-- /.information-item-title -->
                        <span class="information-item__text">В связи с весенними праздниками, большинство которых отмечается в мае</span>
                        <!-- /.information-item__text -->
                    </a>
                    <!-- /.information-item -->
                </li>
                <!-- /.actions__item -->
                <li class="slider-list__item swiper-slide">
                    <a href="/" class="information-item">
                    <span class="information-item__img">
                      <picture>
                        <source srcset="/assets/img/main/4/3.webp" type="image/webp">
                        <img src="/assets/img/main/4/3.jpg" alt="">
                      </picture>
                    </span>
                        <!-- /.information-item__img -->
                        <span class="information-item__title">Круизы в деталях</span>
                        <!-- /.information-item-title -->
                        <span class="information-item__text">Квалифицированные сотрудники компании «Мостурфлот» всегда готовы помочь вам в подборе круиза. </span>
                        <!-- /.information-item__text -->
                    </a>
                    <!-- /.information-item -->
                </li>
                <!-- /.actions__item -->
                <li class="slider-list__item swiper-slide">
                    <a href="/" class="information-item">
                    <span class="information-item__img">
                      <picture>
                        <source srcset="/assets/img/main/4/4.webp" type="image/webp">
                        <img src="/assets/img/main/4/4.jpg" alt="">
                      </picture>
                    </span>
                        <!-- /.information-item__img -->
                        <span class="information-item__title">Все о морских круизах</span>
                        <!-- /.information-item-title -->
                        <span class="information-item__text">Квалифицированные сотрудники компании «Мостурфлот»</span>
                        <!-- /.information-item__text -->
                    </a>
                    <!-- /.information-item -->
                </li>
                <!-- /.actions__item -->
                <li class="slider-list__item swiper-slide">
                    <a href="/" class="information-item">
                    <span class="information-item__img">
                      <picture>
                        <source srcset="/assets/img/main/4/1.webp" type="image/webp">
                        <img src="/assets/img/main/4/1.jpg" alt="">
                      </picture>
                    </span>
                        <!-- /.information-item__img -->
                        <span class="information-item__title">Как заказать круиз?</span>
                        <!-- /.information-item-title -->
                        <span class="information-item__text">В связи с весенними праздниками, большинство которых отмечается в мае, появляется несколько</span>
                        <!-- /.information-item__text -->
                    </a>
                    <!-- /.information-item -->
                </li>
                <!-- /.actions__item -->
                <li class="slider-list__item swiper-slide">
                    <a href="/" class="information-item">
                    <span class="information-item__img">
                      <picture>
                        <source srcset="/assets/img/main/4/2.webp" type="image/webp">
                        <img src="/assets/img/main/4/2.jpg" alt="">
                      </picture>
                    </span>
                        <!-- /.information-item__img -->
                        <span class="information-item__title">Что брать с собой?</span>
                        <!-- /.information-item-title -->
                        <span class="information-item__text">В связи с весенними праздниками, большинство которых отмечается в мае</span>
                        <!-- /.information-item__text -->
                    </a>
                    <!-- /.information-item -->
                </li>
                <!-- /.actions__item -->
            </ul>
            <!-- /.slider-list -->
            <div class="slider__controls js-slider-controls">
                <button type="button" class="slider-btn slider-btn_prev js-slider-prev" aria-label="назад">
                    <svg class="icon icon-arrow">
                        <use xlink:href="/assets/img/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
                <button type="button" class="slider-btn slider-btn_next js-slider-next" aria-label="вперед">
                    <svg class="icon icon-arrow">
                        <use xlink:href="/assets/img/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
            <!-- /.slider__controls -->
            <div class="information__pagination slider-pagination swiper-pagination"></div>
        </div>
        <!-- /.slider -->
    </div>
    <!-- /.ctr -->
</section>
<!-- /.section section_grey_2 section_margin_top section_margin_bottom -->