<div class="">
    <ul class="" aria-label="Лайнер">
        <li class="">
            <a href="/" class="">
                <div class="">
                    <div class="">
                        <picture>
                            <img id="seaimage" src="" alt="Лайнер">
                        </picture>
                    </div>
                </div>
                <!-- /.action-item__bg -->
            </a>
            <!-- /.actions-item -->
        </li>
        <!-- /.slider__item -->
    </ul>
    <!-- /.slider__list -->
</div>
<!-- /.slider__inner -->
