<div class="section section_padding_top slider__wrap">
    <div class="ctr">
        <div class="slider js-slider swiper-container" data-per-view="3">
            <ul class="slider__slides swiper-wrapper" aria-label="Список акций">
                <li class="slider__slide swiper-slide">
                    <a href="/" class="actions-item">
                        <div class="actions-item__bg">
                            <picture>
                                <source srcset="/assets/img/main/1/1.webp" type="image/webp">
                                <img src="/assets/img/main/1/1.jpg" alt="Дни открытых дверей">
                            </picture>
                        </div>
                        <!-- /.action-item__bg -->
                        <div class="actions-item__content">
                            <div class="actions-item__category">Акции</div>
                            <!-- /.actions-item__category -->
                            <div class="actions-item__title">Дни открытых дверей</div>
                            <!-- /.actions-item__title -->
                        </div>
                        <!-- /.actions-item__content -->
                    </a>
                    <!-- /.actions-item -->
                </li>
                <!-- /.slider__item -->
                <li class="slider__slide swiper-slide">
                    <a href="/" class="actions-item">
                        <div class="actions-item__bg">
                            <picture>
                                <source srcset="/assets/img/main/1/2.webp" type="image/webp">
                                <img src="/assets/img/main/1/2.jpg" alt="Распродажа речных круизов">
                            </picture>
                        </div>
                        <!-- /.action-item__bg -->
                        <div class="actions-item__content">
                            <div class="actions-item__category">Скидки</div>
                            <!-- /.actions-item__category -->
                            <div class="actions-item__title">Распродажа речных круизов</div>
                            <!-- /.actions-item__title -->
                        </div>
                        <!-- /.actions-item__content -->
                    </a>
                    <!-- /.actions-item -->
                </li>
                <!-- /.slider__item -->
                <li class="slider__slide swiper-slide">
                    <a href="/" class="actions-item">
                        <div class="actions-item__bg">
                            <picture>
                                <source srcset="/assets/img/main/1/3.webp" type="image/webp">
                                <img src="/assets/img/main/1/3.jpg" alt="Соберите свой идеальный круиз">
                            </picture>
                        </div>
                        <!-- /.action-item__bg -->
                        <div class="actions-item__content">
                            <div class="actions-item__category">Конструтор круизов</div>
                            <!-- /.actions-item__category -->
                            <div class="actions-item__title">Соберите свой идеальный круиз</div>
                            <!-- /.actions-item__title -->
                        </div>
                        <!-- /.actions-item__content -->
                    </a>
                    <!-- /.actions-item -->
                </li>
                <!-- /.slider__item -->
                <li class="slider__slide swiper-slide">
                    <a href="/" class="actions-item">
                        <div class="actions-item__bg">
                            <picture>
                                <source srcset="/assets/img/main/1/1.webp" type="image/webp">
                                <img src="/assets/img/main/1/1.jpg" alt="Дни открытых дверей">
                            </picture>
                        </div>
                        <!-- /.action-item__bg -->
                        <div class="actions-item__content">
                            <div class="actions-item__category">Акции</div>
                            <!-- /.actions-item__category -->
                            <div class="actions-item__title">Дни открытых дверей</div>
                            <!-- /.actions-item__title -->
                        </div>
                        <!-- /.actions-item__content -->
                    </a>
                    <!-- /.actions-item -->
                </li>
                <!-- /.slider__item -->
                <li class="slider__slide swiper-slide">
                    <a href="/" class="actions-item">
                        <div class="actions-item__bg">
                            <picture>
                                <source srcset="/assets/img/main/1/1.webp" type="image/webp">
                                <img src="/assets/img/main/1/1.jpg" alt="Дни открытых дверей">
                            </picture>
                        </div>
                        <!-- /.action-item__bg -->
                        <div class="actions-item__content">
                            <div class="actions-item__category">Скидки</div>
                            <!-- /.actions-item__category -->
                            <div class="actions-item__title">Дни открытых дверей</div>
                            <!-- /.actions-item__title -->
                        </div>
                        <!-- /.actions-item__content -->
                    </a>
                    <!-- /.actions-item -->
                </li>
                <!-- /.slider__item -->
            </ul>
            <!-- /.slider__list -->
            <div class="slider__controls js-slider-controls">
                <button type="button" class="slider-btn slider-btn_prev js-slider-prev" aria-label="назад">
                    <svg class="icon icon-arrow">
                        <use xlink:href="/assets/img/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
                <button type="button" class="slider-btn slider-btn_next js-slider-next" aria-label="вперед">
                    <svg class="icon icon-arrow">
                        <use xlink:href="/assets/img/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
            <!-- /.slider__controls -->
            <div class="actions__pagination slider-pagination swiper-pagination"></div>
        </div>
        <!-- /.slider__inner -->
    </div>
    <!-- /.ctr -->
</div>
<!-- /.slider -->