<li class="tours__item">
    <a href="/" class="tours-item">
                      <span class="tours-item__img">
                        <picture>
                          <source srcset="/assets/img/main/2/4.webp" type="image/webp">
                          <img src="/assets/img/main/2/3.jpg" alt="">
                        </picture>
                      </span>
        <!-- /.tours-item__img -->
        <span class="tours-item__content">
                        <span class="tours-item__date">06 Июня — 10 Июня</span>
            <!-- /.tours-item__date -->
                        <span class="tours-item__title">Илья Репин</span>
            <!-- /.tours-item-title -->
                        <span class="tours-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
            <!-- /.tours-item__text -->
                        <span class="tours-item__prices">
                          <span>27 500 ₽</span>
                          <s>34 000 ₽</s>
                        </span>
            <!-- /.tours-item__prices -->
                      </span>
        <!-- /.tours-item__content -->
    </a>
    <!-- /.tours-item -->
</li>
<!-- /.tours-item -->
<li class="tours__item">
    <a href="/" class="tours-item">
                      <span class="tours-item__img">
                        <picture>
                          <source srcset="/assets/img/main/2/4.webp" type="image/webp">
                          <img src="/assets/img/main/2/2.jpg" alt="">
                        </picture>
                      </span>
        <!-- /.tours-item__img -->
        <span class="tours-item__content">
                        <span class="tours-item__date">06 Июня — 10 Июня</span>
            <!-- /.tours-item__date -->
                        <span class="tours-item__title">Книжна Виктория</span>
            <!-- /.tours-item-title -->
                        <span class="tours-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
            <!-- /.tours-item__text -->
                        <span class="tours-item__prices">
                          <span>27 500 ₽</span>
                          <s>34 000 ₽</s>
                        </span>
            <!-- /.tours-item__prices -->
                      </span>
        <!-- /.tours-item__content -->
    </a>
    <!-- /.tours-item -->
</li>
<!-- /.tours-item -->
<li class="tours__item">
    <a href="/" class="tours-item">
                      <span class="tours-item__img">
                        <picture>
                          <source srcset="/assets/img/main/2/1.webp" type="image/webp">
                          <img src="/assets/img/main/2/2.jpg" alt="">
                        </picture>
                      </span>
        <!-- /.tours-item__img -->
        <span class="tours-item__content">
                        <span class="tours-item__date">06 Июня — 10 Июня</span>
            <!-- /.tours-item__date -->
                        <span class="tours-item__title">Россия</span>
            <!-- /.tours-item-title -->
                        <span class="tours-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
            <!-- /.tours-item__text -->
                        <span class="tours-item__prices">
                          <span>27 500 ₽</span>
                          <s>34 000 ₽</s>
                        </span>
            <!-- /.tours-item__prices -->
                      </span>
        <!-- /.tours-item__content -->
    </a>
    <!-- /.tours-item -->
</li>
<!-- /.tours-item -->
<li class="tours__item">
    <a href="/" class="tours-item">
                      <span class="tours-item__img">
                        <picture>
                          <source srcset="/assets/img/main/2/4.webp" type="image/webp">
                          <img src="/assets/img/main/2/2.jpg" alt="">
                        </picture>
                      </span>
        <!-- /.tours-item__img -->
        <span class="tours-item__content">
                        <span class="tours-item__date">06 Июня — 10 Июня</span>
            <!-- /.tours-item__date -->
                        <span class="tours-item__title">Сергей Есенин</span>
            <!-- /.tours-item-title -->
                        <span class="tours-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
            <!-- /.tours-item__text -->
                        <span class="tours-item__prices">
                          <span>27 500 ₽</span>
                          <s>34 000 ₽</s>
                        </span>
            <!-- /.tours-item__prices -->
                      </span>
        <!-- /.tours-item__content -->
    </a>
    <!-- /.tours-item -->
</li>
<!-- /.tours-item -->
<li class="tours__item">
    <a href="/" class="tours-item">
                      <span class="tours-item__img">
                        <picture>
                          <source srcset="/assets/img/main/2/3.webp" type="image/webp">
                          <img src="/assets/img/main/2/1.jpg" alt="">
                        </picture>
                      </span>
        <!-- /.tours-item__img -->
        <span class="tours-item__content">
                        <span class="tours-item__date">06 Июня — 10 Июня</span>
            <!-- /.tours-item__date -->
                        <span class="tours-item__title">Илья Репин</span>
            <!-- /.tours-item-title -->
                        <span class="tours-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
            <!-- /.tours-item__text -->
                        <span class="tours-item__prices">
                          <span>27 500 ₽</span>
                          <s>34 000 ₽</s>
                        </span>
            <!-- /.tours-item__prices -->
                      </span>
        <!-- /.tours-item__content -->
    </a>
    <!-- /.tours-item -->
</li>
<!-- /.tours-item -->
<li class="tours__item">
    <a href="/" class="tours-item">
                      <span class="tours-item__img">
                        <picture>
                          <source srcset="/assets/img/main/2/4.webp" type="image/webp">
                          <img src="/assets/img/main/2/1.jpg" alt="">
                        </picture>
                      </span>
        <!-- /.tours-item__img -->
        <span class="tours-item__content">
                        <span class="tours-item__date">06 Июня — 10 Июня</span>
            <!-- /.tours-item__date -->
                        <span class="tours-item__title">Книжна Виктория</span>
            <!-- /.tours-item-title -->
                        <span class="tours-item__text">Санкт-Петербург (Соляной причал)&nbsp;&mdash; Мандроги&nbsp;&mdash; Кижи&nbsp;&mdash; Горицы&nbsp;&mdash; Ярославль&nbsp;&mdash; Углич&nbsp;&mdash; Москва (СРВ)</span>
            <!-- /.tours-item__text -->
                        <span class="tours-item__prices">
                          <span>27 500 ₽</span>
                          <s>34 000 ₽</s>
                        </span>
            <!-- /.tours-item__prices -->
                      </span>
        <!-- /.tours-item__content -->
    </a>
    <!-- /.tours-item -->
</li>
<!-- /.tours-item -->