<div class="modals-holder">
    <div class="js-modal_login">
        <div class="modal_common login-form">
            <div class="modal__header">
                <h2 class="section__header">Авторизация</h2>
            </div>
            <div class="modal__content">
            <form class="js-ajax-form">
                <legend>Имя</legend>
                <fieldset>
                    <input name="username" type="text" value="">
                </fieldset>
                <legend>Пароль</legend>
                <fieldset>
                    <input name="password" type="password" value="">
                </fieldset>
                <fieldset>
                <button class="btn btn_filter" type="submit">Войти</button>
                </fieldset>
                <div>
                    <a href="https://booking.mosturflot.ru/user/register" target="_blank">Регистрация</a>&nbsp;&nbsp;<a href="https://booking.mosturflot.ru/user/password" target="_blank">Забыли пароль?</a>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="js-modal_welcome">
        <div class="modal_common">
            <div class="modal__header">
                <h2 class="section__header">Добро пожаловать на борт!</h2>
            </div>
            <div class="modal__content">Вам предоставлена скидка 5% для приобретения круиза на сайте на любой фирменный теплоход Мостурфлота.</div>
            <div style="text-align: center">
                <figure>
                    <img src="/assets/img/logo.png" width="144" height="193">
                </figure>
            </div>
        </div>
    </div>
</div>