<div class="main-menu__wrap js-main-menu " data-simplebarmenu>
    <div class="ctr">
        <div class="main-menu__inner">
            <div class="main-menu-content">
                <div class="main-menu-mobile">
                    <form action="/" class="main-menu-search">
                        <input type="text" name="search" placeholder="Введите запрос">
                        <button class="btn btn_mobile-search" type="submit" title="Найти"><span>
                        <svg class="icon icon-search">
                          <use xlink:href="/assets/img/sprite.svg#icon-search"></use>
                        </svg> Найти</span></button>
                        <!-- /.btn btn_main-menu-mobile-search -->
                    </form>
                    <!-- /.main-menu-search -->
                    <div class="main-menu-contacts">
                        <a href="#" class="header__link" title="Позвонить нам">+7 (495) 22-17-222</a>
                        <!-- /.main-menu__link -->
                        <a href="#" class="header__link" title="Switch to english">Eng</a>
                        <!-- /.main-menu__link -->
                    </div>
                    <!-- /.main-menu-contacts -->
                </div>
                <!-- /.main-menu-mobile -->
                <div class="main-menu__row">
                    <!-- /.main-menu__row -->
                    <div class="main-menu__col animate">
                        <nav class="main-menu">
                            <ul class="main-menu__list">
                                <li class="main-menu__category">
                                    <ul class="main-menu__category-inner js-main-menu-inner opened ">
                                        <li class="main-menu__child-item ">
                                            <a href="/" class="js-main-menu-inner-trigger">
                                                <h2>Бронирование</h2>
                                            </a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Речные круизы</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Реки мира</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Морские круизы</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Туры на самолётах</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Автобусные туры</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Аренда теплоходов</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                    </ul>
                                    <!-- /.main-menu__child -->
                                </li>
                                <!-- /.main-menu__category -->
                                <li class="main-menu__category">
                                    <ul class="main-menu__category-inner js-main-menu-inner  ">
                                        <li class="main-menu__child-item ">
                                            <a href="/" class="js-main-menu-inner-trigger">
                                                <h2>Теплоходы</h2>
                                            </a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Речные теплоходы</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Банкетные теплоходы</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Прогулочные теплоходы</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Морские теплоходы</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Теплоходы на линии</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Дни открытых дверей</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Клубы теплоходов</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                    </ul>
                                    <!-- /.main-menu__child -->
                                </li>
                                <!-- /.main-menu__category -->
                                <li class="main-menu__category">
                                    <ul class="main-menu__category-inner js-main-menu-inner  ">
                                        <li class="main-menu__child-item ">
                                            <a href="/" class="js-main-menu-inner-trigger">
                                                <h2>О компании</h2>
                                            </a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Проекты</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Наши награды</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Клиентам</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Агентам</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Наши партнеры</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Безопасность</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Документы</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                    </ul>
                                    <!-- /.main-menu__child -->
                                </li>
                                <!-- /.main-menu__category -->
                                <li class="main-menu__category">
                                    <ul class="main-menu__category-inner js-main-menu-inner  ">
                                        <li class="main-menu__child-item ">
                                            <a href="/" class="js-main-menu-inner-trigger">
                                                <h2>Новости</h2>
                                            </a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Новости компании</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Изменения в расписании</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                    </ul>
                                    <!-- /.main-menu__child -->
                                </li>
                                <!-- /.main-menu__category -->
                                <li class="main-menu__category">
                                    <ul class="main-menu__category-inner js-main-menu-inner  ">
                                        <li class="main-menu__child-item ">
                                            <a href="/" class="js-main-menu-inner-trigger">
                                                <h2>Информация</h2>
                                            </a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Советы новичкам</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>О теплоходах</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>О круизах</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Оплата</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Программа лояльности</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Задать свой вопрос</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                    </ul>
                                    <!-- /.main-menu__child -->
                                </li>
                                <!-- /.main-menu__category -->
                                <li class="main-menu__category">
                                    <ul class="main-menu__category-inner js-main-menu-inner  ">
                                        <li class="main-menu__child-item ">
                                            <a href="/" class="js-main-menu-inner-trigger">
                                                <h2>Контакты</h2>
                                            </a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Офис на белорусской</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Центральный офис</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Северный речной вокзал</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Схема проезда</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                        <li class="main-menu__child-item ">
                                            <a href="/"><span>Пресс-служба</span></a>
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                    </ul>
                                    <!-- /.main-menu__child -->
                                </li>
                                <!-- /.main-menu__category -->
                                <li class="main-menu__category">
                                    <ul class="main-menu__category-inner js-main-menu-inner  excluded mobile-hide">
                                        <li class="main-menu__child-item ">
                                            <a href="/" class="js-main-menu-inner-trigger">
                                                <h2>Социальные сети</h2>
                                            </a>
                                            <div class="main-menu-socials">
                                                <div class=" socials">
                                                    <a href="/" class="socials__item vk" title="мы в социальных сетях">
                                                        <svg class="icon icon-vk">
                                                            <use xlink:href="/assets/img/sprite.svg#icon-vk"></use>
                                                        </svg>
                                                    </a>
                                                    <!-- /.socials__item vk -->
                                                    <a href="/" class="socials__item ig" title="мы в социальных сетях">
                                                        <svg class="icon icon-instagram">
                                                            <use xlink:href="/assets/img/sprite.svg#icon-instagram"></use>
                                                        </svg>
                                                    </a>
                                                    <!-- /.socials__item ig -->
                                                    <a href="/" class="socials__item fb" title="мы в социальных сетях">
                                                        <svg class="icon icon-facebook">
                                                            <use xlink:href="/assets/img/sprite.svg#icon-facebook"></use>
                                                        </svg>
                                                    </a>
                                                    <!-- /.socials__item fb -->
                                                    <a href="/" class="socials__item ok" title="мы в социальных сетях">
                                                        <svg class="icon icon-odnoklassniki">
                                                            <use xlink:href="/assets/img/sprite.svg#icon-odnoklassniki"></use>
                                                        </svg>
                                                    </a>
                                                    <!-- /.socials__item ok -->
                                                    <a href="/" class="socials__item ttr" title="мы в социальных сетях">
                                                        <svg class="icon icon-twitter">
                                                            <use xlink:href="/assets/img/sprite.svg#icon-twitter"></use>
                                                        </svg>
                                                    </a>
                                                    <!-- /.socials__item ttr -->
                                                    <a href="/" class="socials__item tg" title="мы в социальных сетях">
                                                        <svg class="icon icon-telegram">
                                                            <use xlink:href="/assets/img/sprite.svg#icon-telegram"></use>
                                                        </svg>
                                                    </a>
                                                    <!-- /.socials__item tg -->
                                                    <a href="/" class="socials__item rss" title="мы в социальных сетях">
                                                        <svg class="icon icon-rss">
                                                            <use xlink:href="/assets/img/sprite.svg#icon-rss"></use>
                                                        </svg>
                                                    </a>
                                                    <!-- /.socials__item rss -->
                                                </div>
                                                <!-- /.socials -->
                                            </div>
                                            <!-- /.main-menu-socials -->
                                        </li>
                                        <!-- /.main-menu__child-item -->
                                    </ul>
                                    <!-- /.main-menu__child -->
                                </li>
                                <!-- /.main-menu__category -->
                            </ul>
                            <!-- /.main-menu__list -->
                        </nav>
                        <!-- /.main-menu -->
                    </div>
                    <!-- /.main-menu__col -->
                    <div class="main-menu__col animate">
                        <div class="main-menu__schedule">
                            <div class="main-menu-schedule">
                                <h2 class="main-menu-schedule__title">Прибытие и&nbsp;отправление теплоходов</h2>
                                <!-- /.main-menu-schedule__title -->
                                <div class="main-menu-schedule__subtitle">Москва, Северный речной вокзал</div>
                                <!-- /.main-menu-schedule__subtitle -->
                                <table class="main-menu-schedule-table">
                                    <thead>
                                    <tr>
                                        <th>дата</th>
                                        <th>приб.</th>
                                        <th>отпр.</th>
                                        <th>Теплоход</th>
                                        <th>причал</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>20.06</td>
                                        <td></td>
                                        <td>12:30</td>
                                        <td>Дзержинский</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>20.06</td>
                                        <td>12:30</td>
                                        <td>12:30</td>
                                        <td>Дзержинский</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>20.06</td>
                                        <td></td>
                                        <td>12:30</td>
                                        <td>Дзержинский</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>20.06</td>
                                        <td>12:30</td>
                                        <td>07:30</td>
                                        <td>Дзержинский</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>20.06</td>
                                        <td></td>
                                        <td>12:30</td>
                                        <td>Дзержинский</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>20.06</td>
                                        <td>12:30</td>
                                        <td>07:30</td>
                                        <td>Дзержинский</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>20.06</td>
                                        <td></td>
                                        <td>12:30</td>
                                        <td>Дзержинский</td>
                                        <td>6</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- /.main-menu-schedule-table -->
                            </div>
                            <!-- /.main-menu-schedule -->
                        </div>
                        <!-- /.main-menu__schedule -->
                    </div>
                    <!-- /.main-menu__col -->
                </div>
            </div>
            <!-- /.main-menu-content -->
        </div>
        <!-- /.main-menu__inner -->
    </div>
    <!-- /.ctr -->
</div>
<!-- /.main-menu -->