.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow2 {
  width: 1.36em;
  height: 1em;
  fill: #fff;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #6997b9;
}
.icon-fb {
  width: 0.56em;
  height: 1em;
  fill: #000;
}
.icon-filter {
  width: 1.15em;
  height: 1em;
  fill: #fff;
}
.icon-ig {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #6997b9;
}
.icon-menu {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-menu__ {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-odnoklassniki {
  width: 1em;
  height: 1em;
  fill: #6997b9;
}
.icon-rss {
  width: 1em;
  height: 1em;
  fill: #6997b9;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: #6997b9;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: #6997b9;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #6997b9;
}
