.svg-1 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 0 no-repeat;
}

.svg-1-dims {
	width: 30px;
	height: 30px;
}

.svg-10 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 75% no-repeat;
}

.svg-10-dims {
	width: 30px;
	height: 30px;
}

.svg-1000 {
	background: url("svg/sprite.css-5696906a.svg") 0 12.5% no-repeat;
}

.svg-1000-dims {
	width: 30px;
	height: 30px;
}

.svg-11 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 12.5% no-repeat;
}

.svg-11-dims {
	width: 30px;
	height: 30px;
}

.svg-12 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 0 no-repeat;
}

.svg-12-dims {
	width: 30px;
	height: 30px;
}

.svg-14 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 12.5% no-repeat;
}

.svg-14-dims {
	width: 30px;
	height: 30px;
}

.svg-15 {
	background: url("svg/sprite.css-5696906a.svg") 0 25% no-repeat;
}

.svg-15-dims {
	width: 30px;
	height: 30px;
}

.svg-16 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 25% no-repeat;
}

.svg-16-dims {
	width: 30px;
	height: 30px;
}

.svg-17 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 25% no-repeat;
}

.svg-17-dims {
	width: 30px;
	height: 30px;
}

.svg-18 {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 0 no-repeat;
}

.svg-18-dims {
	width: 30px;
	height: 30px;
}

.svg-19 {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 12.5% no-repeat;
}

.svg-19-dims {
	width: 30px;
	height: 30px;
}

.svg-2 {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 25% no-repeat;
}

.svg-2-dims {
	width: 30px;
	height: 30px;
}

.svg-20 {
	background: url("svg/sprite.css-5696906a.svg") 0 37.5% no-repeat;
}

.svg-20-dims {
	width: 30px;
	height: 30px;
}

.svg-21 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 37.5% no-repeat;
}

.svg-21-dims {
	width: 30px;
	height: 30px;
}

.svg-22 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 37.5% no-repeat;
}

.svg-22-dims {
	width: 30px;
	height: 30px;
}

.svg-23 {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 37.5% no-repeat;
}

.svg-23-dims {
	width: 30px;
	height: 30px;
}

.svg-24 {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 0 no-repeat;
}

.svg-24-dims {
	width: 30px;
	height: 30px;
}

.svg-25 {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 12.5% no-repeat;
}

.svg-25-dims {
	width: 30px;
	height: 30px;
}

.svg-26 {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 25% no-repeat;
}

.svg-26-dims {
	width: 30px;
	height: 30px;
}

.svg-27 {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 37.5% no-repeat;
}

.svg-27-dims {
	width: 30px;
	height: 30px;
}

.svg-28 {
	background: url("svg/sprite.css-5696906a.svg") 0 50% no-repeat;
}

.svg-28-dims {
	width: 30px;
	height: 30px;
}

.svg-29 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 50% no-repeat;
}

.svg-29-dims {
	width: 30px;
	height: 30px;
}

.svg-3 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 50% no-repeat;
}

.svg-3-dims {
	width: 30px;
	height: 30px;
}

.svg-30 {
	background: url("svg/sprite.css-5696906a.svg") 33.088235294117645% 50% no-repeat;
}

.svg-30-dims {
	width: 28px;
	height: 30px;
}

.svg-31 {
	background: url("svg/sprite.css-5696906a.svg") 43.7037037037037% 50% no-repeat;
}

.svg-31-dims {
	width: 30px;
	height: 30px;
}

.svg-32 {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 0 no-repeat;
}

.svg-32-dims {
	width: 30px;
	height: 30px;
}

.svg-33 {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 12.5% no-repeat;
}

.svg-33-dims {
	width: 30px;
	height: 30px;
}

.svg-333 {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 25% no-repeat;
}

.svg-333-dims {
	width: 30px;
	height: 30px;
}

.svg-34 {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 37.5% no-repeat;
}

.svg-34-dims {
	width: 30px;
	height: 30px;
}

.svg-35 {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 50% no-repeat;
}

.svg-35-dims {
	width: 30px;
	height: 30px;
}

.svg-36 {
	background: url("svg/sprite.css-5696906a.svg") 0 62.5% no-repeat;
}

.svg-36-dims {
	width: 30px;
	height: 30px;
}

.svg-37 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 62.5% no-repeat;
}

.svg-37-dims {
	width: 30px;
	height: 30px;
}

.svg-38 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 62.5% no-repeat;
}

.svg-38-dims {
	width: 30px;
	height: 30px;
}

.svg-39 {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 62.5% no-repeat;
}

.svg-39-dims {
	width: 30px;
	height: 30px;
}

.svg-4 {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 62.5% no-repeat;
}

.svg-4-dims {
	width: 30px;
	height: 30px;
}

.svg-40 {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 62.5% no-repeat;
}

.svg-40-dims {
	width: 30px;
	height: 30px;
}

.svg-41 {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 0 no-repeat;
}

.svg-41-dims {
	width: 30px;
	height: 30px;
}

.svg-44 {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 12.5% no-repeat;
}

.svg-44-dims {
	width: 30px;
	height: 30px;
}

.svg-45 {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 25% no-repeat;
}

.svg-45-dims {
	width: 30px;
	height: 30px;
}

.svg-46 {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 37.5% no-repeat;
}

.svg-46-dims {
	width: 30px;
	height: 30px;
}

.svg-47 {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 50% no-repeat;
}

.svg-47-dims {
	width: 30px;
	height: 30px;
}

.svg-470 {
	background: url("svg/sprite.css-5696906a.svg") 97.82608695652173% 73.17073170731707% no-repeat;
}

.svg-470-dims {
	width: 24px;
	height: 24px;
}

.svg-4700 {
	background: url("svg/sprite.css-5696906a.svg") 0 75% no-repeat;
}

.svg-4700-dims {
	width: 30px;
	height: 30px;
}

.svg-48 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 75% no-repeat;
}

.svg-48-dims {
	width: 30px;
	height: 30px;
}

.svg-49 {
	background: url("svg/sprite.css-5696906a.svg") 0 0 no-repeat;
}

.svg-49-dims {
	width: 30px;
	height: 30px;
}

.svg-5 {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 75% no-repeat;
}

.svg-5-dims {
	width: 30px;
	height: 30px;
}

.svg-5-Star_hotel_2 {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 75% no-repeat;
}

.svg-5-Star_hotel_2-dims {
	width: 30px;
	height: 30px;
}

.svg-50 {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 75% no-repeat;
}

.svg-50-dims {
	width: 30px;
	height: 30px;
}

.svg-51 {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 75% no-repeat;
}

.svg-51-dims {
	width: 30px;
	height: 30px;
}

.svg-52 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 0 no-repeat;
}

.svg-52-dims {
	width: 30px;
	height: 30px;
}

.svg-53 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 12.5% no-repeat;
}

.svg-53-dims {
	width: 30px;
	height: 30px;
}

.svg-54 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 25% no-repeat;
}

.svg-54-dims {
	width: 30px;
	height: 30px;
}

.svg-55 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 37.5% no-repeat;
}

.svg-55-dims {
	width: 30px;
	height: 30px;
}

.svg-56 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 50% no-repeat;
}

.svg-56-dims {
	width: 30px;
	height: 30px;
}

.svg-57 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 62.5% no-repeat;
}

.svg-57-dims {
	width: 30px;
	height: 30px;
}

.svg-58 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 75% no-repeat;
}

.svg-58-dims {
	width: 30px;
	height: 30px;
}

.svg-59 {
	background: url("svg/sprite.css-5696906a.svg") 0 87.5% no-repeat;
}

.svg-59-dims {
	width: 30px;
	height: 30px;
}

.svg-6 {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 87.5% no-repeat;
}

.svg-6-dims {
	width: 30px;
	height: 30px;
}

.svg-7 {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 87.5% no-repeat;
}

.svg-7-dims {
	width: 30px;
	height: 30px;
}

.svg-8 {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 87.5% no-repeat;
}

.svg-8-dims {
	width: 30px;
	height: 30px;
}

.svg-9 {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 87.5% no-repeat;
}

.svg-9-dims {
	width: 30px;
	height: 30px;
}

.svg-Air-Conditioner {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 87.5% no-repeat;
}

.svg-Air-Conditioner-dims {
	width: 30px;
	height: 30px;
}

.svg-Balloons {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 87.5% no-repeat;
}

.svg-Balloons-dims {
	width: 30px;
	height: 30px;
}

.svg-Baloon {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 87.5% no-repeat;
}

.svg-Baloon-dims {
	width: 30px;
	height: 30px;
}

.svg-Buddybuilding {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 0 no-repeat;
}

.svg-Buddybuilding-dims {
	width: 30px;
	height: 30px;
}

.svg-Captin_Hat {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 12.5% no-repeat;
}

.svg-Captin_Hat-dims {
	width: 30px;
	height: 30px;
}

.svg-Desk {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 25% no-repeat;
}

.svg-Desk-dims {
	width: 30px;
	height: 30px;
}

.svg-Elevator {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 37.5% no-repeat;
}

.svg-Elevator-dims {
	width: 30px;
	height: 30px;
}

.svg-First-ad {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 50% no-repeat;
}

.svg-First-ad-dims {
	width: 30px;
	height: 30px;
}

.svg-Game-Console_2 {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 62.5% no-repeat;
}

.svg-Game-Console_2-dims {
	width: 30px;
	height: 30px;
}

.svg-Guitar-Head_2 {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 75% no-repeat;
}

.svg-Guitar-Head_2-dims {
	width: 30px;
	height: 30px;
}

.svg-Hot_Drink_1 {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 87.5% no-repeat;
}

.svg-Hot_Drink_1-dims {
	width: 30px;
	height: 30px;
}

.svg-Hot_Drink_2 {
	background: url("svg/sprite.css-5696906a.svg") 0 100% no-repeat;
}

.svg-Hot_Drink_2-dims {
	width: 30px;
	height: 30px;
}

.svg-Hotspot {
	background: url("svg/sprite.css-5696906a.svg") 11.11111111111111% 100% no-repeat;
}

.svg-Hotspot-dims {
	width: 30px;
	height: 30px;
}

.svg-Menu {
	background: url("svg/sprite.css-5696906a.svg") 22.22222222222222% 100% no-repeat;
}

.svg-Menu-dims {
	width: 30px;
	height: 30px;
}

.svg-Pool_Ladder {
	background: url("svg/sprite.css-5696906a.svg") 33.333333333333336% 100% no-repeat;
}

.svg-Pool_Ladder-dims {
	width: 30px;
	height: 30px;
}

.svg-Reception {
	background: url("svg/sprite.css-5696906a.svg") 44.44444444444444% 100% no-repeat;
}

.svg-Reception-dims {
	width: 30px;
	height: 30px;
}

.svg-Refrigerator {
	background: url("svg/sprite.css-5696906a.svg") 55.55555555555556% 100% no-repeat;
}

.svg-Refrigerator-dims {
	width: 30px;
	height: 30px;
}

.svg-Spa-1 {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 100% no-repeat;
}

.svg-Spa-1-dims {
	width: 30px;
	height: 30px;
}

.svg-Spa-2 {
	background: url("svg/sprite.css-5696906a.svg") 77.77777777777777% 100% no-repeat;
}

.svg-Spa-2-dims {
	width: 30px;
	height: 30px;
}

.svg-Street-Sign_1 {
	background: url("svg/sprite.css-5696906a.svg") 88.88888888888889% 100% no-repeat;
}

.svg-Street-Sign_1-dims {
	width: 30px;
	height: 30px;
}

.svg-Theatre {
	background: url("svg/sprite.css-5696906a.svg") 100% 0 no-repeat;
}

.svg-Theatre-dims {
	width: 30px;
	height: 30px;
}

.svg-Toilet {
	background: url("svg/sprite.css-5696906a.svg") 100% 12.5% no-repeat;
}

.svg-Toilet-dims {
	width: 30px;
	height: 30px;
}

.svg-Wifi_1 {
	background: url("svg/sprite.css-5696906a.svg") 100% 25% no-repeat;
}

.svg-Wifi_1-dims {
	width: 30px;
	height: 30px;
}

.svg-Wifi_2 {
	background: url("svg/sprite.css-5696906a.svg") 100% 37.5% no-repeat;
}

.svg-Wifi_2-dims {
	width: 30px;
	height: 30px;
}

.svg-Wifi_Tethering {
	background: url("svg/sprite.css-5696906a.svg") 100% 50% no-repeat;
}

.svg-Wifi_Tethering-dims {
	width: 30px;
	height: 30px;
}

.svg-Wine_List {
	background: url("svg/sprite.css-5696906a.svg") 66.66666666666667% 62.5% no-repeat;
}

.svg-Wine_List-dims {
	width: 30px;
	height: 30px;
}

.svg-Yin-Yang {
	background: url("svg/sprite.css-5696906a.svg") 100% 62.5% no-repeat;
}

.svg-Yin-Yang-dims {
	width: 30px;
	height: 30px;
}

