.specials {
	&-item {
		$item: &;
		display: block;
		text-decoration: none;
		color: var(--c-text-common);

		&__img {
			display: block;
			margin-bottom: 20px;
			border-radius: 20px 20px 20px 0;
			min-height: 247px;
			overflow: hidden;
			//height: 170px;
			transform: translate3d(0, 0, 0);
			//transition: transform .2s ease-in-out;

			img {
				//height: 100%;
				width: 100%;
				max-width: 100%;
				display: block;
				//object-fit: cover;
				transform: scale3d(1, 1, 1);
				transition: transform 4s ease-out;
			}
		}

		&__date {
			color: var(--c-text-accent);
			font-family: var(--f-common);
			font-size: 12px;
			font-weight: 700;
			line-height: 1.37;
			text-transform: uppercase;
			letter-spacing: 0.66px;
			display: block;
			margin-bottom: 8px;
		}

		&__title {
			display: block;
			font-size: 16px;
			font-weight: 600;
		}

		&__text {
			display: block;
			margin-top: 8px;
			color: var(--c-text-common);
			font-family: var(--f-common);
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			min-height: 144px;
		}

		&__prices {
			line-height: 18px;
			margin-top: 24px;
			display: block;
			width: 100%;
			span {
				font-size: 18px;
				font-weight: 500;
				color: var(--c-text-price);
				margin-right: 20px;
			}
			s {
				font-size: 12px;
				font-weight: 500;
				text-decoration: line-through;
			}
			a {
				color: var(--c-text-accent);
				font-weight: bold;
				padding-right: 20px;
				float: right;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}

		&:hover {
			#{$item}__img {
				//transform: translate3d(0, -4px, 0);

				img {
					//transform: scale3d(1, 1, 1);
					transform: scale(1.3);

				}
			}
		}
	}
}
