.ships {
  lost-flex-container: row;
  /*margin-bottom: -56px;*/
  &__item {
    lost-column: 1/4 flex;
    margin-bottom: 56px;
  }
  &__cabin {
    lost-column: 1/3 flex;
    margin-bottom: 56px;
  }
  &-item {
    $item: &;
    display: block;
    text-decoration: none;
    color: var(--c-text-common);

    &__img {
      display: block;
      margin-bottom: 30px;
      border-radius: 20px 20px 20px 0;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      //height: 240px;
      @include gpu;

      img {
        width: 100%;
        max-width: 100%;
        display: block;
        @include gpu;
        transition: transform 4s ease-out;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 600;
      display: block;
    }

    &__text {
      display: block;
      margin-top: 8px;
    }

    &__desc {
      display: block;
      margin-top: 8px;
      text-align: center;
    }

    &:hover {
      #{$item}__img {
        img {
          transform: scale(1.3);
        }
      }
    }
  }

  @media(--phone-big) {
    margin-bottom: -40px;

    &__item {
      margin-bottom: 40px;
    }
    &__cabin {
      margin-bottom: 40px;
    }
  }

  @media (--phone) {
    margin-bottom: -32px;

    &__item {
      lost-column: 1/1 flex;
      margin-bottom: 32px;
    }
    &__cabin {
      lost-column: 1/1 flex;
      margin-bottom: 32px;
    }

    &-item {
      &__img {
        margin-bottom: 20px;
      }
    }
  }

}
