.menu-visible {
	overflow: hidden;
}


@keyframes inner-show {
	from {
		opacity: 0;
		transform: translateY(-80px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes inner-hide {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-80px);
	}
}

.main-menu {
	color: #fff;

	a {
		color: inherit;
		text-decoration: none;
		line-height: 1.5;
		transition: color .2s ease-in-out;
		&:hover {
			color: var(--c-text-accent);
		}
	}

	&__wrap {
		position: absolute;
		//height: 860px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 4;
		background-color: rgba(9, 98, 168, 0.95);
		opacity: 0;
		backdrop-filter: blur(0px);
		transform: translateY(-100%);
		padding: 150px 0 24px;
		//transition: all .3s .1s ease-in-out;
		.ctr {
			height: 100%;
		}
		@supports (backdrop-filter: blur(20px)) {
			background-color: rgba(9, 98, 168, 0.8);
		}

		.menu-visible & {
			transform: translateY(0);
			backdrop-filter: blur(20px);
			//transition: all .3s ease-in-out, opacity .5s ease-in-out;
			//opacity: 1;
			height: 100vh;
			overflow: hidden;
			.animate {
				//animation: inner-show .2s .2s ease-in;
			}
		}
	}
	
	&-socials {
		margin-top: 24px;
	}
	
	&__list {
		column-count: 2;
	}

	&__category {
		break-inside: avoid;
		page-break-inside: avoid;
		display: inline-block;
		width: 100%;
		margin-bottom: 30px;

		&-inner {
		}
	}

	&__child {
		&-item {
			h2 {
				font-size: 24px;
				font-weight: 600;
				line-height: 0.68;
			}

			&:first-child {
				margin-bottom: 12px;
			}
		}
	}

	&__inner {
		position: relative;
		//padding-top: 150px;
		//padding-bottom: 60px;
		z-index: 1;
		height: 100%;
	}
	&__content {

	}

	&__row {
		lost-flex-container: row;
	}

	&__col {
		lost-column: 1/2 flex;

		&:first-child {
			min-width: 470px;
		}
		&:last-child {
			flex: 1 1 auto;
			width: auto;
		}

	}

	&__schedule {
		overflow: hidden;
	}

	&-schedule {
		float: right;
		background: #ffffff;
		max-width: 470px;
		border-radius: 25px 25px 25px 0;
		padding: 40px 30px 40px 30px;

		&__title {
			color: var(--c-text-common);
			font-size: 16px;
			font-weight: 600;
		}

		&__subtitle {
			color: var(--c-text-common);
			font-size: 14px;
			font-weight: 400;
		}

		&-table {
			border-collapse: collapse;
			table-layout: auto;
			margin-top: 38px;
		}

		th {
			color: var(--c-text-accent);
			font-family: var(--f-common);
			font-size: 12px;
			font-weight: 700;
			line-height: 1.37;
			text-transform: uppercase;
			letter-spacing: 0.66px;
			text-align: left;
		}

		thead {
			th {
				padding-bottom: 12px;
			}
		}
		tbody {
			font-size: 14px;
			font-weight: 400;
			tr {
				border-top: 1px solid rgba(0, 0, 0, .1);
			}
			td {
				padding: 22px 0;

				&:not(:last-child) {
					padding-right: 20px;
				}
			}
		}

	}

	&-search {
		height: 36px;
		border-radius: 18px;
		background-color: #ffffff;
		overflow: hidden;
		display: none;
		align-items: stretch;
		margin-bottom: 32px;
		input {
			flex: 1 1 auto;
			background-color: transparent;
			color: #7F7F7F;
			font-size: 16px;
			font-weight: 400;
			padding: 0 10px 0 20px;
			
			width: 10px;
			flex: 1 1 auto;
		}
		button {
			width: 120px;
			height: 36px;
		}
	}
	
	&-contacts {
		display: none;
		margin-bottom: 24px;
		
		.header__link {
			display: block;
			color: #ffffff;
			font-family: var(--f-common);
			font-size: 16px;
			font-weight: 400;
			line-height: 16.41px;
			
			&+.header__link {
				margin-left: 47px;
			}
		}
	}
	
	@media (--tablet) {
		&-schedule {
			padding-left: 23px;
			padding-right: 23px;
		}
	}
	
	@media (--phone-big) {
		&__wrap {
			padding-top: 0;
		}
		&__inner {
			padding-top: 90px;
		}
		
		&-search {
			display: flex;
			margin-bottom: 32px;
		}
		
		&-contacts {
			display: flex;
			color: inherit;
		}
		
		&__col {
			&:first-child {
				width: 100%;
				max-width: 640px;
			}
			&:last-child {
				display: none;
			}
		}
	}
	
	@media (--phone) {
		padding-top: 0;
		&__col {
			min-width: 0;
			&:first-child {
				width: 100%;
				max-width: 100%;
				min-width: 0;
			}
		}

		&__list {
			column-count: 1;
		}

		&__category {
			&-inner {
				li:not(:first-child){
					display: none;
				}
				&.opened {
					li:not(:first-child){
						display: block;
					}
				}
			}
		}
	}
}

/* end of main-menu*/
