<div class="hero-inner js-hero">
    <div class="hero-inner-bg swiper-container js-hero-bg">
        <ul class="hero-inner-bg-slider swiper-wrapper">
            <li class="hero-inner-bg-slider__item swiper-slide">
                <picture>
                    <img class="hero-inner-bg-slider__img" src="/assets/img/mtf/grin.jpg" alt="Класс Люкс">
                </picture>
            </li>
            <!-- /.hero-bg-slider__item -->
            <li class="hero-inner-bg-slider__item swiper-slide">
                <picture>
                   <source srcset="/assets/img/main/Esenin_02_1043x522.webp" type="image/webp" media="(max-width: 980px)">
                   <source srcset="/assets/img/main/Esenin_02_1920x960.webp" type="image/webp" media="(min-width: 980px)">
                   <source srcset="/assets/img/main/Esenin_02_1043x522.jpg" type="image/jpeg" media="(max-width: 980px)">
                   <img class="hero-inner-bg-slider__img" src="/assets/img/main/Esenin_02_1920x960.jpg" alt="т/х Сергей Есенин">
               </picture>
            </li>
        </ul>
        <!-- /.hero-bg-slider swiper-wrapper -->
    </div>
    <!-- /.hero-bg-slider -->
    <div class="hero-inner-content swiper-container js-hero-content">
        <ul class="hero-inner-content-slider swiper-wrapper">
            <li class="hero-inner-content-slider__item swiper-slide">
                <div class="ctr">
                    <div class="hero-inner-item">
                        <div class="hero-inner-item__inner">
                            <div class="ctr">
                                <div class="hero-inner-item__title">Дни открытых дверей</div>
                                <!-- /.hero-item__title -->
                                <a href="/" class="hero-inner-item__link"> Мы&nbsp;приглашаем всех желающих посетить наши теплоходы и&nbsp;задать любые интересующие вас <span>вопросы&nbsp; <svg class="icon icon-arrow2">
                            <use xlink:href="/assets/img/sprite.svg#icon-arrow2"></use>
                          </svg>
                        </span>
                                </a>
                                <!-- /.hero-item__link -->
                            </div>
                            <!-- /.ctr -->
                        </div>
                        <!-- /.hero-item__inner -->
                    </div>
                    <!-- /.hero-item -->
                </div>
                <!-- /.ctr -->
            </li>
            <li class="hero-inner-content-slider__item swiper-slide">
                <div class="ctr">
                    <div class="hero-inner-item">
                        <div class="hero-inner-item__inner">
                            <div class="ctr">
                                <div class="hero-inner-item__title">Дни открытых дверей</div>
                                <!-- /.hero-item__title -->
                                <a href="/" class="hero-inner-item__link"> Мы&nbsp;приглашаем всех желающих посетить наши теплоходы и&nbsp;задать любые интересующие вас <span>вопросы&nbsp; <svg class="icon icon-arrow2">
                            <use xlink:href="/assets/img/sprite.svg#icon-arrow2"></use>
                          </svg>
                        </span>
                                </a>
                                <!-- /.hero-item__link -->
                            </div>
                            <!-- /.ctr -->
                        </div>
                        <!-- /.hero-item__inner -->
                    </div>
                    <!-- /.hero-item -->
                </div>
                <!-- /.ctr -->
            </li>
        </ul>
        <!-- /.hero-content-slider -->
        <div class="ctr">
            <div class="swiper-pagination  hero-inner-content__pagination js-hero-pagination"></div>
            <!-- /.swiper-pagination  hero-content__pagination-->
        </div>
        <!-- /.ctr -->
    </div>
    <!-- /.hero-content swiper-container -->
</div>
<!-- /.header-hero -->
