<div class="hero-inner js-hero">
    <div class="hero-inner-bg swiper-container js-hero-bg">
        <ul class="hero-inner-bg-slider swiper-wrapper">
            <li class="hero-inner-bg-slider__item swiper-slide">
                <picture>
                    <img class="hero-inner-bg-slider__img" src="/assets/img/mtf/ships/{{page.shipid}}/1920x960.jpg" alt="Теплоход компании Мостурфлот">
                </picture>
            </li>
            <!-- /.hero-bg-slider__item -->
        </ul>
        <!-- /.hero-bg-slider swiper-wrapper -->
    </div>
    <!-- /.hero-bg-slider -->
    <div class="hero-inner-content swiper-container js-hero-content">
        <ul class="hero-inner-content-slider swiper-wrapper">
            <li class="hero-inner-content-slider__item swiper-slide">
                <div class="ctr">
                    <div class="hero-inner-item">
                        <div class="hero-inner-item__inner">
                            <div class="ctr">
                                <div class="hero-inner-item__title">Теплоход {{page.title}}</div>
                                <!-- /.hero-item__title -->
                                <a href="/" class="hero-inner-item__link"> Мы&nbsp;приглашаем всех желающих посетить наши теплоходы и&nbsp;задать любые интересующие вас <span>вопросы&nbsp; <svg class="icon icon-arrow2">
                            <use xlink:href="/assets/img/sprite.svg#icon-arrow2"></use>
                          </svg>
                        </span>
                                </a>
                                <!-- /.hero-item__link -->
                            </div>
                            <!-- /.ctr -->
                        </div>
                        <!-- /.hero-item__inner -->
                    </div>
                    <!-- /.hero-item -->
                </div>
                <!-- /.ctr -->
            </li>
        </ul>
        <!-- /.hero-content-slider -->
    </div>
    <!-- /.hero-content swiper-container -->
</div>
<!-- /.header-hero -->