<div class="hero js-hero">
    <div class="hero-bg swiper-container js-hero-bg">
        <ul class="hero-bg-slider swiper-wrapper">
            <li class="hero-bg-slider__item swiper-slide">
                <picture>
                    <source srcset="/assets/img/mtf/slider/main/constructor_cut.webp" type="image/webp" media="(max-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/constructor.webp" type="image/webp" media="(min-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/constructor_cut.jpg" type="image/jpeg" media="(max-width: 980px)">
                    <img class="hero-bg-slider__img" src="/assets/img/mtf/slider/main/constructor.jpg" alt="Рекламное предложение">
                </picture>
            </li>
            <!-- /.hero-bg-slider__item -->
            <li class="hero-bg-slider__item swiper-slide">
                <picture>
                    <source srcset="/assets/img/mtf/slider/main/gogol_cut.webp" type="image/webp" media="(max-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/gogol.webp" type="image/webp" media="(min-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/gogol_cut.jpg" type="image/jpeg" media="(max-width: 980px)">
                    <img class="hero-bg-slider__img" src="/assets/img/mtf/slider/main/gogol.jpg" alt="Рекламное предложение">
                </picture>
            </li>
            <!-- /.hero-bg-slider__item -->
            <li class="hero-bg-slider__item swiper-slide">
                <picture>
                    <source srcset="/assets/img/mtf/slider/main/hram_cut.webp" type="image/webp" media="(max-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/hram.webp" type="image/webp" media="(min-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/hram_cut.jpg" type="image/jpeg" media="(max-width: 980px)">
                    <img class="hero-bg-slider__img" src="/assets/img/mtf/slider/main/hram.jpg" alt="Рекламное предложение">
                </picture>
            </li>
            <!-- /.hero-bg-slider__item -->
            <li class="hero-bg-slider__item swiper-slide">
                <picture>
                    <source srcset="/assets/img/mtf/slider/main/onedaytrip_cut.webp" type="image/webp" media="(max-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/onedaytrip.webp" type="image/webp" media="(min-width: 980px)">
                    <source srcset="/assets/img/mtf/slider/main/onedaytrip_cut.jpg" type="image/jpeg" media="(max-width: 980px)">
                    <img class="hero-bg-slider__img" src="/assets/img/mtf/slider/main/onedaytrip.jpg" alt="Рекламное предложение">
                </picture>
            </li>
            <!-- /.hero-bg-slider__item -->
        </ul>
        <!-- /.hero-bg-slider swiper-wrapper -->
    </div>
    <!-- /.hero-bg-slider -->
    <div class="hero-content swiper-container js-hero-content">
        <ul class="hero-content-slider swiper-wrapper">
            <li class="hero-content-slider__item swiper-slide">
                <div class="hero-item">
                    <div class="hero-item__inner">
                        <div class="ctr">
                            <div class="hero-item__title">Любовь с&nbsp;первого круиза</div>
                            <!-- /.hero-item__title -->
                            <a href="/" class="hero-item__link">Подробнее о&nbsp;конструкторе <span>круизов&nbsp; <svg class="icon icon-arrow2">
                            <use xlink:href="assets/img/sprite.svg#icon-arrow2"></use>
                          </svg>
                        </span></a>
                            <!-- /.hero-item__link -->
                        </div>
                        <!-- /.ctr -->
                    </div>
                    <!-- /.hero-item__inner -->
                </div>
                <!-- /.hero-item -->
            </li>
            <li class="hero-content-slider__item swiper-slide">
                <div class="hero-item">
                    <div class="hero-item__inner">
                        <div class="ctr">
                            <div class="hero-item__title">Любовь с&nbsp;первого круиза</div>
                            <!-- /.hero-item__title -->
                            <a href="/" class="hero-item__link">Подробнее о&nbsp;конструкторе <span>круизов&nbsp; <svg class="icon icon-arrow2">
                            <use xlink:href="assets/img/sprite.svg#icon-arrow2"></use>
                          </svg>
                        </span></a>
                            <!-- /.hero-item__link -->
                        </div>
                        <!-- /.ctr -->
                    </div>
                    <!-- /.hero-item__inner -->
                </div>
                <!-- /.hero-item -->
            </li>
            <li class="hero-content-slider__item swiper-slide">
                <div class="hero-item">
                    <div class="hero-item__inner">
                        <div class="ctr">
                            <div class="hero-item__title">Любовь с&nbsp;первого круиза</div>
                            <!-- /.hero-item__title -->
                            <a href="/" class="hero-item__link">Подробнее о&nbsp;конструкторе <span>круизов&nbsp; <svg class="icon icon-arrow2">
                            <use xlink:href="assets/img/sprite.svg#icon-arrow2"></use>
                          </svg>
                        </span></a>
                            <!-- /.hero-item__link -->
                        </div>
                        <!-- /.ctr -->
                    </div>
                    <!-- /.hero-item__inner -->
                </div>
                <!-- /.hero-item -->
            </li>
            <li class="hero-content-slider__item swiper-slide">
                <div class="hero-item">
                    <div class="hero-item__inner">
                        <div class="ctr">
                            <div class="hero-item__title">Любовь с&nbsp;первого круиза</div>
                            <!-- /.hero-item__title -->
                            <a href="/" class="hero-item__link">Подробнее о&nbsp;конструкторе <span>круизов&nbsp; <svg class="icon icon-arrow2">
                            <use xlink:href="assets/img/sprite.svg#icon-arrow2"></use>
                          </svg>
                        </span></a>
                            <!-- /.hero-item__link -->
                        </div>
                        <!-- /.ctr -->
                    </div>
                    <!-- /.hero-item__inner -->
                </div>
                <!-- /.hero-item -->
            </li>
        </ul>
        <!-- /.hero-content-slider -->
        <div class="swiper-pagination ctr hero-content__pagination js-hero-pagination"></div>
        <!-- /.swiper-pagination  hero-content__pagination-->
    </div>
    <!-- /.hero-content swiper-container -->
</div>
<!-- /.header-hero -->