<!doctype html>
<html lang="ru">
{% include head.html %}
<body class="body">
<!-- BEGIN content -->
<div class="l-out">
    <header class="l-header header header_inner">
        {% include header/home-header-inner.html %}
        {% include main-menu.html %}
    </header>
    {% if page.hero %}
    {% include {{ page.hero }} %}
    {% endif %}
    <div class="l-content">
        {% include breadcrumbs.html %}

        <div class="section section_padding_top section_padding_bottom section_has-filter">
            <div class="ctr">
                <div class="section-cols">
                    <main class="section-content">
                        {{content}}
                    </main>
                    <!-- /.section-content -->
                    {% include sections/aside-content.html %}
                </div>
                <!-- /.section-cols -->
            </div>
            <!-- /.ctr -->
        </div>
        <!-- /.section -->
    </div>
    <!-- /.l-content -->
    {% include footer/footer.html %}
</div>
<!-- /.l-out -->
<!-- END content -->
<!-- BEGIN scripts -->

{% include footer/scripts.html %}
</body>
</html>

